*{
    margin: 0;
    list-style: none;
    padding: none;
}



  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Noto+Sans+Cypro+Minoan&family=Nunito:wght@200&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@1,100&display=swap');
